<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.galaxy.project.dao.JmsShortConnResultMapper">
  <resultMap id="BaseResultMap" type="com.galaxy.project.model.ShortConnResult">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="code" jdbcType="LONGVARCHAR" property="code" />
    <result column="url" jdbcType="LONGVARCHAR" property="url" />
    <result column="err" jdbcType="LONGVARCHAR" property="err" />
  </resultMap>

    <select id="getByUrl" resultMap="BaseResultMap">
        select id,code,url,err,create_at
        from t_short_conn_result
        where is_delete = 0
        and url = #{url}
    </select>

</mapper>