<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.galaxy.project.dao.UploadImagesMapper">
  <resultMap id="BaseResultMap" type="com.galaxy.project.model.Images">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="image_name" jdbcType="VARCHAR" property="imageName" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="content_type" jdbcType="VARCHAR" property="contentType" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="suffix" jdbcType="VARCHAR" property="suffix" />
    <result column="size" jdbcType="BIGINT" property="size" />
    <result column="s3_bucket_name" jdbcType="VARCHAR" property="s3BucketName" />
    <result column="s3_key_240" jdbcType="VARCHAR" property="s3Key240" />
    <result column="s3_key_480" jdbcType="VARCHAR" property="s3Key480" />
    <result column="s3_key_1080" jdbcType="VARCHAR" property="s3Key1080" />
    <result column="object_url_240" jdbcType="VARCHAR" property="objectUrl240" />
    <result column="small_object_url_240" jdbcType="VARCHAR" property="smallObjectUrl240" />
    <result column="object_url_480" jdbcType="VARCHAR" property="objectUrl480" />
    <result column="object_url_1080" jdbcType="VARCHAR" property="objectUrl1080" />
    <result column="rating" jdbcType="BIGINT" property="rating" />
    <result column="tmp_rating" jdbcType="BIGINT" property="tmpRating" />
    <result column="status_name" jdbcType="VARCHAR" property="statusName" />
  </resultMap>

    <select id="getImagesDetailsById" resultType="com.galaxy.project.model.Images">
        select id as id,image_name as imageName,title as title,description as description,content_type as contentType,
                level as level,suffix as suffix,size as size,s3_bucket_name as s3BucketName,
                s3_key_240 as s3Key240,s3_key_480 as s3Key480,s3_key_1080 as s3Key1080,object_url_240 as objectUrl240,
                object_url_480 as objectUrl480,
                object_url_1080 as objectUrl1080,rating as rating,tmp_rating as tmpRating,status_name as statusName
        from t_images
        where is_delete = 0
        and id = #{id}
    </select>

  <select id="list" resultType="com.galaxy.project.model.Images">
      select id as id,image_name as imageName,title as title,description as description,content_type as contentType,
              level as level,suffix as suffix,size as size,s3_bucket_name as s3BucketName,
              s3_key_240 as s3Key240,s3_key_480 as s3Key480,s3_key_1080 as s3Key1080,object_url_240 as objectUrl240,
              object_url_480 as objectUrl480,small_object_url_240 as smallObjectUrl240,
              object_url_1080 as objectUrl1080,rating as rating,tmp_rating as tmpRating,status_name as statusName
        from t_images
        where is_delete = 0
        <if test="status != null and status != ''">
          and status = #{status}
        </if>
          <if test="statusName != null and statusName != ''">
              and status_name = #{statusName}
          </if>
          <if test="level != null and level != ''">
              and level = #{level}
          </if>
        <if test="title != null and title != '' and title !={} ">
          and title like concat(concat('%',#{title}),'%')
        </if>
        order by rating desc,tmp_rating desc,id desc
  </select>

</mapper>
