<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.galaxy.project.dao.UserMapper" >

    <resultMap id="BaseResultMap" type="com.galaxy.project.model.User" >
		<!--
            WARNING - @mbg.generated
          -->
		<id column="id" jdbcType="BIGINT" property="id"/>
		<result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
		<result column="created_by" jdbcType="VARCHAR" property="createdBy" />
		<result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
		<result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
		<result column="is_delete" jdbcType="BIT" property="isDelete"/>
		<result column="version" jdbcType="INTEGER" property="version"/>
		<result column="status" jdbcType="INTEGER" property="status"/>
		<result column="user_name" jdbcType="VARCHAR" property="userName"/>
		<result column="password" jdbcType="VARCHAR" property="password"/>
		<result column="remark_name" jdbcType="VARCHAR" property="remarkName"/>
		<result column="phone" jdbcType="VARCHAR" property="phone"/>
		<result column="email" jdbcType="VARCHAR" property="email"/>
		<result column="register_time" jdbcType="TIMESTAMP" property="registerTime"/>
		<result column="register_ip" jdbcType="VARCHAR" property="registerIp"/>
		<result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
		<result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp"/>
		<result column="avatar" jdbcType="VARCHAR" property="avatar"/>
		<result column="sys_role_id" jdbcType="VARCHAR" property="sysRoleId"/>
    </resultMap>

	<select id="selectUser" resultMap="BaseResultMap">
		select id from t_user where id = #{id}
	</select>

	<select id="findUserByPhone" resultMap="BaseResultMap">
        select id,status,user_name,password,remark_name,
                phone,email,register_time,register_ip,last_login_time,last_login_ip,avatar,sys_role_id
        from t_user
        where is_delete = 0
        and phone = #{phone}
    </select>

	<select id="findUserByEmail" resultMap="BaseResultMap">
        select id,status,user_name,password,remark_name,
                phone,email,register_time,register_ip,last_login_time,last_login_ip,avatar,sys_role_id
        from t_user
        where is_delete = 0
        and email = #{email}
    </select>

	<select id="findUserByUserName" resultMap="BaseResultMap">
		select *
		from t_user
		where is_delete = 0
		and user_name = #{userName}
		<if test="id != null">
			<![CDATA[
              and id<>#{id}
          ]]>
		</if>
	</select>

</mapper>



